---
layout: default
title: About
description:
---

<div class="about-page">

  <div class="hero hero-about">
    <div class="container justify-center flex-box-1">
      <div class="flex-center">
        <div class="small-fonts">
          who we are
        </div>
        <h1 class="hero-heading">
          We’re <span class="rel">a team <img class="scribble team-scribble" src="{{ '/assets/icons/scribble-circle-2.svg' | relative_url }}" alt=""></span> of experts focused on
          your brand’s growth and excited to
          partner up with your business<span class="pink-dot-heading"></span>

        </h1>
        <div class="services-hero-text no-t-m">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean <br>
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus <br>
          magnis dis parturient montes, nascetur ridiculus mus.
        </div>
        <a href="#products-block" class="at-your-service-content justify-center flex-box">
          <span class="at-your-service-text no-t-m">Get to know us</span>
          <span class="down-arrow"><img src="assets/icons/down-chevron.svg" alt="Right Chevron" /></span>
        </a>

      </div>
    </div>
  </div>

  <div class="dark-pink-circle">
    <div class="about-rocket">
      <img src="{{ '/assets/icons/illustration-rocket.svg' | relative_url }}" alt="">
    </div>
  </div>

  <div id="products-block" class="about-us-office-img">
    <img src="{{ '/assets/imgs/about-us-office.jpg' | relative_url }}" alt="">
  </div>

  <div class="why-choose-dd">
    <div class="why-choose-dd-content container justify-center flex-box">
      <div class="flex-center">
        <h2 class="why-choose-dd-title"><span class="rel">Why <img class="scribble why-scribble" src="{{ '/assets/icons/scribble.svg' | relative_url }}" alt=""></span> choose Dear Digital?</h2>
        <div class="why-choose-dd-text">
          Mainstream? No, thanks. Because it's not just work, it's passion . It's not just clients, it's people. Every project we take on is important to us, and every client is a big deal. We take care of your projects, your deadlines, and your nerves no matter what, and that’s a promise. 🙏
        </div>
      </div>
    </div>
    <div class="why-dd-banner">

    

      <div data-v-0f897bc0="" class="text-fx">
        <div data-v-0f897bc0="" class="text-fx__outline">
          <span class="banner-text">280 projects</span>
          <span class="banner-text">5 experts</span>
          <span class="banner-text">100% e-commerce</span>
          <span class="banner-text">worldwide</span>
        </div>
        <div data-v-0f897bc0="" class="text-fx__bg">
          <span class="banner-text">280 projects</span>
          <span class="banner-text">5 experts</span>
          <span class="banner-text">100% e-commerce</span>
          <span class="banner-text">worldwide</span>
        </div>
      </div>

    </div>
  </div>

  <div id="team" class="our-team-wrapper">
    <div class="container">
      <div class="our-team-rectangle">
        <h2 class="our-team-title">Our team of experts</h2>
        <div class="team-imgs-info flex-box">
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
              <img src="{{ '/assets/imgs/team-pixel.jpeg' | relative_url }}" alt="team-member">
            </div>
            <div class="member-name">
              👽 Sam
            </div>
            <div class="member-position">
              Marketeer, co-founder
            </div>
          </div>
        </div>
      </div>

      <div class="new-career justify-center flex-box">
        <div class="new-career-content">
          <h2 class="new-career-title">
            Are you <span class="rel">exploring <img class="scribble exploring-scribble" src="{{ '/assets/icons/scribble-2.svg' | relative_url }}" alt=""></span>a new career? <br>
            Or on a new mission?
          </h2>
          <div class="abs-btn to-white-btn to-blue-text justify-space-bet flex-box">
            <div class="abs-btn-text">
              Discover our open jobs <span class="pink-dot-med"></span>
            </div>
            <div class="abs-btn-arrow">
              <span class="white-arrow">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                        <g class="white" transform="translate(-446.000000, -916.000000)" stroke="#ffffff" stroke-width="2">
                            <g transform="translate(446.000000, 917.000000)">
                                <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                                <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                            </g>
                        </g>
                    </g>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="whats-our-mission container justify-space-bet flex-box">
    <div class="whats-our-mission-imgs">
      <div class="back-image">
        <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
      </div>
      <div class="top-image">
        <img src="{{ '/assets/imgs/team.jpeg' | relative_url }}" alt="team-member">
      </div>
    </div>
    <div class="whats-our-mission-text">
      <h2 class="whats-our-mission-title">So… What’s <span class="rel">our <img class="scribble our-scribble" src="{{ '/assets/icons/scribble-3.svg' | relative_url }}" alt=""></span> mission?</h2>
      <p class="whats-our-mission-para">
        We’re musicians, artists, entrepreneurs, environmentalists, animal lovers, and foodies. We’re fashionistas and geeks. We’re clean cut and tattooed. We’re Netflix binge watchers and deep thinkers. We’re also very much like you and your customers. We’re people.
        <br><br>
        In a world of screens and devices, we need to remember that these interactions can and should be personal. From our initial conversations to our post-launch support, you’ll always be dealing with people who care about you and your brand.
        <br><br>
        We don't sell hours. We sell value. We don’t just design and code. We plan, strategize, and consult on the best possible solutions to optimize your customers' experiences and foster your brand’s growth. No, we’re not going to make your logo bigger, and we don’t make things “pop." However, we will make your mission our mission and use our expertise to meet and exceed your goals.
      </p>
    </div>

  </div>

  {% include testimonial.html %}

  {% include work-togather.html %}



</div>
