---
layout: default
title: About our team and company
description: Presenting our dear digital family, a group of dedicated e-commerce enthousiasts that want to help you company grow sustainably
permalink: "/about-dear-digital-team"
---

<div class="about-page">

  <div class="hero hero-about">
    <div class="container justify-center flex-box-1">
      <div class="flex-center">
        <div class="small-fonts">
          who we are
        </div>
        <h1 class="hero-heading">
          A <span class="rel">strong <img class="scribble team-scribble" src="{{ '/assets/icons/scribble-circle-2.svg' | relative_url }}" alt=""></span> talented team with a relentless focus on e-commerce is what we are <span class="dot-text">building<span class="pink-dot-heading"></span></span>
        </h1>
        <a href="#products-block" class="at-your-service-content justify-center flex-box">
          <span class="at-your-service-text no-t-m">Get to know us</span>
          <span class="down-arrow"><img src="assets/icons/down-chevron.svg" alt="Right Chevron" /></span>
        </a>

      </div>
    </div>
  </div>
  <div id="featured-work" class="rel">
    <div class="about-rocket no-d">
      <img src="{{ '/assets/icons/illustration-rocket.svg' | relative_url }}" alt="rocket" loading="lazy">
    </div>
    <div class="dark-pink-circle blue-circle">
      <div class="about-rocket no-t-m">
        <img src="{{ '/assets/icons/illustration-rocket.svg' | relative_url }}" alt="rocket" loading="lazy">
      </div>
    </div>
  </div>


  <div id="products-block" class="about-us-office-img">
    <img src="{{ '/assets/imgs/team-new.png' | relative_url }}" alt="team picture dear digital" loading="lazy">
  </div>

  <div class="why-choose-dd">
    <div class="why-choose-dd-content container justify-center flex-box">
      <div class="flex-center">
        <h2 class="why-choose-dd-title"><span class="rel">Why <img class="scribble why-scribble" src="{{ '/assets/icons/scribble.svg' | relative_url }}" alt="scribble" loading="lazy"></span> choose dear digital?</h2>
        <div class="why-choose-dd-text">
          Our team has one goal to help you scale your brand sustainably as far as we can and beyond. We are constantly looking for talent that can help us achieve this mission  🙏.
        </div>
      </div>
    </div>
    <div class="why-dd-banner">



      <div data-v-0f897bc0="" class="text-fx">
        <div data-v-0f897bc0="" class="text-fx__outline">
          <span class="banner-text">One focus</span>
          <span class="banner-text">One mission</span>
          <span class="banner-text">One team</span>
        </div>
        <div data-v-0f897bc0="" class="text-fx__bg no-t-m">
          <span class="banner-text">One focus</span>
          <span class="banner-text">One mission</span>
          <span class="banner-text">One team</span>
        </div>
      </div>

    </div>
  </div>

  <div id="team" class="our-team-wrapper">
    <div class="container">
      <div class="our-team-rectangle">
        <h2 class="our-team-title">Our team of experts</h2>
        <div class="team-imgs-info flex-box">
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/anisha-headshot.jpg' | relative_url }}" alt="Anisha Houbaer headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://be.linkedin.com/in/anishahoubaer" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Anisha Houbaer
            </div>
            <div class="member-position">
              Graphic Designer & email
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/headshot-arne.jpg' | relative_url }}" alt="Arne Desmet headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://be.linkedin.com/in/arne-desmet-961784172/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Arne Desmet
            </div>
            <div class="member-position">
              Junior Creative
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/dhavaldaveheadshotaboutpage.jpg' | relative_url }}" alt="dhaval dave headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/dhaval-dave-76302b13b" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Dhaval Dave
            </div>
            <div class="member-position">
              Senior full stack dev
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/dimitri-headshot.jpg' | relative_url }}" alt="dimitri devroe headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/dimitri-devroe-88625b39/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Dimitri Devroe
            </div>
            <div class="member-position">
              Marketing lead, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/jaytrivendiheadshotaboutpage.jpg' | relative_url }}" alt="jay trivendi headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/jay-trivedi-632b1aa1/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
             Jay Trivedi
            </div>
            <div class="member-position">
              Front-end Shopify dev
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/jiawen-headshot.jpg' | relative_url }}" alt="jiawen chen headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/jiawen-chen-19950416/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Jiawen Chen
            </div>
            <div class="member-position">
              E-commerce marketeer
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/joachim-headshot.jpg' | relative_url }}" alt="joachim beyls headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/joachimbeyls/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Joachim Beyls
            </div>
            <div class="member-position">
              E-commerce marketeer
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/john-headshot.jpg' | relative_url }}" alt="john morgan galeyn headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/john-morgan-galeyn/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              John-Morgan Galeyn
            </div>
            <div class="member-position">
              Creative lead, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/headshot-julie.jpg' | relative_url }}" alt="Julie Rooryck headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/j-r/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Julie Rooryck
            </div>
            <div class="member-position">
              Digital Strategist
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/headshot-julien.jpg' | relative_url }}" alt="Julien Verheughe headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/julien-verheughe/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Julien Verheughe
            </div>
            <div class="member-position">
              Business Analyst Odoo
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/laura-headshot.jpg' | relative_url }}" alt="laura touchant headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/lauratouchant/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Laura Touchant
            </div>
            <div class="member-position">
              UX - UI designer
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/mihirdaveheadshotaboutpage.jpg' | relative_url }}" alt="mihir dave headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/mihir-dave-a999ba115/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Mihir Dave
            </div>
            <div class="member-position">
              Development lead, Partner
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/Monali-Parekh.jpg' | relative_url }}" alt="Monali Parekh headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/mihir-dave-a999ba115/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Mihir Dave
            </div>
            <div class="member-position">
              Development lead, Partner
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/niels-headshot.jpg' | relative_url }}" alt="niels desot headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/nielsdesot/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Niels Desot
            </div>
            <div class="member-position">
              Business lead, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/Pardeep Sharma.jpg' | relative_url }}" alt="Pardeep Sharma headshot team member dear digital full stack develope" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/pardeep2411/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Pardeep Sharma
            </div>
            <div class="member-position">
              Full stack developer
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/sam-headshot.jpg' | relative_url }}" alt="samuel rieder headshot team member dear digital" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="https://www.linkedin.com/in/samuel-rieder/" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Samuel Rieder
            </div>
            <div class="member-position">
              Technical lead, co-founder
            </div>
          </div>
          <div class="team-member">
            <div class="member-image">
              <img src="{{ '/assets/imgs/Shahid Barbhuiya.jpg' | relative_url }}" alt="Shahid Barbhuiya headshot team member dear digital full stack developer" loading="lazy">
              <div class="team-profile-overlay">
                <div>Profiles</div>
                <div class="team-social-links flex-box">
                  <a href="www.linkedin.com/in/shahid-zaman-41982698" target="_blank" class="team-social-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="member-name">
              Shahid Barbhuiya
            </div>
            <div class="member-position">
              Full stack developer
            </div>
          </div>
        </div>
      </div>
      <div class="new-career justify-center flex-box">
        <div class="new-career-content">
          <h2 class="new-career-title">
            Are you <span class="rel">exploring <img class="scribble exploring-scribble" src="{{ '/assets/icons/scribble-2.svg' | relative_url }}" alt="scribble" loading="lazy"></span>a new career? <br>
            Or on a new mission?
          </h2>
          <a href="https://deardigital.homerun.co/" class="abs-btn to-white-btn to-blue-text justify-space-bet flex-box">
            <div class="abs-btn-text">
              Discover our open jobs <span class="pink-dot-med"></span>
            </div>
            <div class="abs-btn-arrow">
              <span class="white-arrow">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                        <g class="white" transform="translate(-446.000000, -916.000000)" stroke="#ffffff" stroke-width="2">
                            <g transform="translate(446.000000, 917.000000)">
                                <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                                <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                            </g>
                        </g>
                    </g>
                </svg>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="whats-our-mission container justify-space-bet flex-box">
    <div class="whats-our-mission-imgs">
      <div class="back-image">
        <img src="{{ '/assets/imgs/joachimheadshot.jpg' | relative_url }}" alt="jeachim headshot" loading="lazy">
      </div>
      <div class="top-image">
        <img src="{{ '/assets/imgs/jiawenheadshot.jpg' | relative_url }}" alt="jiawen headshot" loading="lazy">
      </div>
    </div>
    <div class="whats-our-mission-text">
      <h2 class="whats-our-mission-title">So… How did it all <span class="rel">start <img class="scribble our-scribble our-scribble-circle" src="{{ '/assets/icons/scribble-3.svg' | relative_url }}" alt="scribble" loading="lazy"></span>?</h2>
      <p class="whats-our-mission-para">
        Niels & Dimitri, started dear digital the 1st of September 2020. They were betting on their sort of awkward mix of creativity, finance, marketing and business skills and wanted to dive deep into e-commerce.
        <br><br>
        Right around that same time John & Sam started Bombay Studio out of their previous jobs focussed on Shopify development and internationalisation of e-commerce brands throughout Europe.
        <br><br>
        A common friend introduced us to each other and dear digital and Bombay Studio were both located in the same co-working space. So after grabbing a beer we slowly started working together. One collaboration became two, three and it just kept on coming.
        <br><br>
        From that moment we knew that there might be common future for the four of us, we started discussing a potential joined future and here we are, John, Sam and their team joined the wonderful team of dear digital in September 2021. And the rest is history.
      </p>
    </div>

  </div>

  {% include testimonial.html %}

  {% include work-togather.html %}



</div>

<script>
  var degrees = 0;
  var degrees2 = 0;
  var position = $(window).scrollTop();
  var position2 = $(window).scrollTop();
  var x = 1;
  var y = 1;
  $(window).scroll(function() {
    elem = $("#featured-work .dark-pink-circle");
    var scroll = $(window).scrollTop();
    var elem_height = $(elem).height();
    $('.about-rocket').css({'transform' : 'rotate('+ ((scroll-$(elem).offset().top)/($(elem).height()/250)+70) +'deg)'});

  });
</script>
