---
layout: default
title: Cart - all our awesome e-commerce clients
description: These are all the e-commerce brands we had the chance of working with. Check out their shops and don't forget to buy something.
permalink: "/all-dear-digital-e-commerce-clients"
---

<div class="cart-page">


<div class="hero hero-cartpage">
  <div class="container flex-box-1">
    <div class="row middle-section">
      <div class="col-txt-1 t-m-order-2">
        <span class="dear-digital-text">cart  </span>
        <h3>We proudly present a list of all our clients<span class="white-dot-medium"></span></h3>
        <p class="no-t-m">This is a list of all the awesome people and companies we have already worked with. Enjoy.</p>
        <div class="work-explore-link">
          <div class="">
            <a href="#products-block"><span class="no-t-m">Explore our customers </span><img src="/assets/icons/down-chevron.svg" alt="cart explore button"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <section class="website-category-section flex-box-1 justify-between">
      <a href="#consumer" class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">01.</span>Consumer <img src="/assets/icons/arrow-blue.svg" alt="right arrow"></h3></a>
      <a href="#food" class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">02.</span>Food <img src="/assets/icons/arrow-blue.svg" alt="right arrow"></h3></a>
      <a href="#fashion" class="website-type user-select-none"><h3 class="services-heading"><span class="bullets-pts">03.</span>Fashion <img src="/assets/icons/arrow-blue.svg" alt="right arrow"></h3></a>
    </section>
  </div>
</div>

<section id="consumer" class="food-products">
  <div class="container">
    <div class="product-heading"><h3><span>01. </span>Consumer goods<span class="pink-dot-medium"></span></h3>
    </div>
    <div class="flex-box-1 justify-between">
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/blisspaint-hero-image.jpg" alt="Blisspaint digitally native paint company order free swatches and order paint online" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Blisspaint</h3>
          <p>Blisspaint sells paint in a digitally native way. Order free samples and order.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.blisspaint.com" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/BRAUZZ.jpg" alt="BRAUZZ. makes plastic free cleaning products." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>BRAUZZ.</h3>
          <p>Revolutionary, plastic free cleaning products with online first approach.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.brauzz.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Crimibox.jpg" alt="True crime games" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Crimibox</h3>
          <p>If you love playing true crime board games, crimibox is the place to be.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://shop.crimibox.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/diace.jpeg" alt="Beautiful and robust diabetes accessories." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Diace</h3>
          <p>Diacé makes and sells beautiful, handy and robust diabetes accessories.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.diace.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/PIAB.jpg" alt="Contemporary puzzles with distinct designs in a bag." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>PIAB</h3>
          <p>Contemporary puzzles with distinct designs in a bag.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.puzzleinabag.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Stays.jpeg" alt="Vase with artificial flowers" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Stays</h3>
          <p>Flowers and plants that stay green and require minimum effort.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://stays.green?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Rymbu.jpg" alt="BBQ’s, wood stoves, and everything else that help you enjoy the outdoors more." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>RYMBU</h3>
          <p>BBQ’s, wood stoves, and everything else that help you enjoy the outdoors longer.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.rymbu.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Sticker pet.jpg" alt="Personalised stickers, t-shirts and portraits of your beloved pet." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Sticker pet</h3>
          <p>Personalised stickers, t-shirts and portraits of your beloved pet.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://stickerpet.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="food" class="food-products">
  <div class="container">
    <div class="product-heading"><h3><span>02. </span>Food<span class="pink-dot-medium"></span></h3>
    </div>
    <div class="flex-box-1 justify-between">
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/kriket.png" alt="Smart and yummy? Now that's a no brainer." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Kriket</h3>
          <p>Smart and yummy? Now that's a no brainer.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://kriket.be/nl" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/4gold.png" alt="Don't settle for silver" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>4Gold</h3>
          <p>It takes someone strong to make someone strong</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://4gold.eu/fr/pages/about?gclid=Cj0KCQjwmuiTBhDoARIsAPiv6L9UE8M4Nqu0XfB4xE39_dNnp3XJy069x8Tq1Azh8bydJ2I4z47omywaAvIKEALw_wcB" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Buddybites.jpeg" alt="Buddybites offers fresh and deliciously personalized dog food." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Buddybites</h3>
          <p>Buddybites offers delicious, personalized dog food.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://buddybites.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Cantata_webshop_shopify.jpg" alt="Coffee and tea online and physical retailer in Belgium" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Cantata</h3>
          <p>Cantata is a brand delivering high end coffee and tea within Belgium.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.cantata.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Kaasconnaisseur.jpg" alt="Best cheese in the world delivered to your door." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>De Kaasconnaisseur</h3>
          <p>De kaasconnaisseur delivers the best cheeses in the world at your door.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.dekaasconnaisseur.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Ferm Kombucha.jpg" alt="Kombucha brewed right." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>FERM</h3>
          <p>If you like Kombucha then you’ll love Ferm and their brewery.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.fermdrinks.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Just bite.jpg" alt="Healthy snacks for in the office or at home." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>JustBite</h3>
          <p>Healthy snacks for at home and at the office. Finally, a healthy alternative.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.justbite.eu?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/ONO.jpg" alt="A wonderfully refreshing Belgian based hard seltzer." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>ONO Drinks</h3>
          <p>A wonderfully refreshing Belgian based hard seltzer. Summer vibes baby!</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://onodrinks.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/OKONO.jpeg" alt="Tasty products that will help you achieve the Keto lifestyle." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Okono</h3>
          <p>Tasty products that will help you achieve the Keto lifestyle.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://okono.eu?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Pasta d_oro.jpg" alt="Golden, premium pasta that for at events or at home." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Pasta d’oro</h3>
          <p>Golden, premium pasta that for at events or at home.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.pastadoro.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Chef rosemary.jpg" alt="Fresh, ready to heat meals that were cooked by real cooks." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Rose Mary</h3>
          <p>Fresh, ready to heat meals that were cooked by real cooks.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.chefrosemary.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Stashed.jpg" alt="Tasty freeze dried meals for when you are really busy." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Stashed</h3>
          <p>Tasty freeze dried meals for when you are really busy.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.stashedfood.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Ventura.jpeg" alt="One of the most iconic cafes in Ghent went online during covid." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Ventura</h3>
          <p>One of the most iconic cafes in Ghent went online during covid.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.cafeventura.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fashion" class="food-products padd-bottom">
  <div class="container">
    <div class="product-heading"><h3><span>03. </span>Fashion<span class="pink-dot-medium"></span></h3>
    </div>
    <div class="flex-box-1 justify-between">
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/jeunepremier.png" alt="We don't follow the trend, we are the trend." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Jeune Premier</h3>
          <p>We don't follow the trend,<br> we are the trend</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.jeunepremier.be/fr?gclid=Cj0KCQjwmuiTBhDoARIsAPiv6L_0wcVjHol3W5MQER9Ni3TrwaB7oZkmoSgFE1ayvogCQPkHXh1RMO4aAgekEALw_wcB" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Ecosnooze.jpg" alt="Alpace wool products at it's finest." loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Ecosnooze</h3>
          <p>Ecosnooze makes incredible products from alpaca wool.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://ecosnooze.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/AterlierNoterman.jpg" alt="Light jeans made by aterlier noterman" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>Atelier Noterman</h3>
          <p>Atelier Noterman is your brand of choice for good trousers.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://www.ateliernoterman.com/en?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Hedgren_webshop_shopify.jpg" alt="Hedgren is a fashion brand from Antwerp Belgium that makes bags and travel gear" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
      <div class="product-description">
        <h3>Hedgren</h3>
         <p>Antwerpian fashion brand that makes bags and travel gear.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://hedgren.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/Oh Yaz.jpg" alt="Sustainable and healthy women’s underwear that is so comfy" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
      <div class="product-description">
        <h3>OH YAZ</h3>
         <p>Sustainable and healthy women’s underwear that is so comfy.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://ohyaz.com?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="product">
        <div class="product-image">
          <img src="/assets/imgs/playweargripkousen.jpg" alt="grijze gripkousen voor te sporten playwaer" loading="lazy">
          <!-- <img class="product-logo" src="/assets/icons/sales.svg" alt="product-img"> -->
        </div>
        <div class="product-description">
          <h3>PlayWear</h3>
          <p>PlayWaer makes socks that have grip to perform in comfort.</p>
          <a href="/contact" class="desc">Looking for a similar project? Contact us!</a>
          <a href="https://playwear.be?utm_source=website_deardigital&utm_medium=referral" class="btn to-blue-btn to-white-text product-btn" target="_blank">
            <span>Shop now<span class="white-dot-med"></span></span>
            <span class="blue-arrow">
              <?xml version="1.0" encoding="UTF-8"?>
              <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g class="blue" transform="translate(-446.000000, -916.000000)" stroke="#202248" stroke-width="2">
                          <g transform="translate(446.000000, 917.000000)">
                              <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                              <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                          </g>
                      </g>
                  </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
  </div>
</section>

{% include testimonial.html %}

{% include work-togather.html %}

</div>
