---
layout: default
title: Work Detail
description: "description"
prev: "/work-detail-piab"
next: "/work-detail-bliss"
alt: logo
---

<div class="work-detail-page">

  <div class="hero hero-blog-detail">
    <div class="container justify-center flex-box-1">
      <div class="flex-center">
        <div class="small-fonts">
          Brauzz
        </div>
        <h1 class="hero-heading">Scaling a company on a  succesfull mission
        of changing the cleaning  products industry
        that drove <span class="rel inline-bl">20% sales growth<img class="scribble long-scribble" src="{{ '/assets/icons/scribble-long.svg' | relative_url }}" alt=""></span>
        <span class="pink-dot-heading"></span>
        </h1>
        <div class="services-hero-text no-t-m">
          Our team designs on-brand creative for all email campaigns and deliver copy that speaks directly to the “BOSS” man. The company saw a drastic increase in conversions and the emails are performing better than any previous campaign.
        </div>

        <div class="stroke-fonts flex-box justify-space-bet">
          <div class="stroke new-revenue">
            <div class="stroke-font">
              +350%
            </div>
            <div class="stroke-desc">
              New Client Revenue
            </div>
          </div>
          <div class="stroke">
            <div class="stroke-font">
              +50%
            </div>
            <div class="stroke-desc">
              Existing Client Revenue
            </div>
          </div>
          <div class="stroke">
            <div class="stroke-font">
              6x
            </div>
            <div class="stroke-desc">
              ROA’s
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="work-detail-img">
    <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
  </div>

  <div class="container"><div class="scs-section">
    <div class="scs-inner-section flex-box justify-space-bet">
      <div class="scs-left">
        <div class="scs-title">
          Services
        </div>
      </div>
      <div class="scs-right">
        <div class="scs-desc services-desc flex-box justify-space-bet">
          <div class="services-desc-left">
            <div class="services-desc-text">
              <img src="{{ '/assets/icons/flag.svg' | relative_url }}" alt="flag" loading="lazy">
              UX/UI design
            </div>
            <div class="services-desc-text">
              <img src="{{ '/assets/icons/flag.svg' | relative_url }}" alt="flag" loading="lazy">
              Shopify implementation
            </div>
            <div class="services-desc-text">
              <img src="{{ '/assets/icons/flag.svg' | relative_url }}" alt="flag" loading="lazy">
              Performance marketing
            </div>
          </div>
          <div class="services-desc-right">
            <div class="services-desc-text">
              <img src="{{ '/assets/icons/flag.svg' | relative_url }}" alt="flag" loading="lazy">
              Photography
            </div>
            <div class="services-desc-text">
              <img src="{{ '/assets/icons/flag.svg' | relative_url }}" alt="flag" loading="lazy">
              Funding
            </div>
          </div>
        </div>
        </div>
    </div>

    <div class="scs-inner-section scs-inner-middle-section flex-box justify-space-bet">
      <div class="scs-left">
        <div class="scs-title challenge-title">
          Challenge
        </div>
      </div>
      <div class="scs-right">
        <div class="scs-desc challenge-desc">
          BRAUZZ. has a wonderful product and was founded by 3 first-time founders. It is not always easy to try and get as much as possible right from the start. Finding that initial product market fit needs some iterations experience.
          <br><br>
          Competition is always looming, brands have to move fast as there is no time to loose, rapid geographical expansion is needed for brands to thrive.
        </div>
        </div>
    </div>
    <div class="scs-inner-section flex-box justify-space-bet">
      <div class="scs-left">
        <div class="scs-title">
          Solutions
        </div>
      </div>
      <div class="scs-right">
        <div class="scs-desc solutions-desc flex-box justify-space-bet">
          <div class="info-card flex-box justify-space-bet">
            <div class="pink-num">
              01.
            </div>
            <p class="info-card-text">
              Finding that first product market fit in a lean way, with a MVP website, photography and online marketing.
            </p>
          </div>
          <div class="info-card flex-box justify-space-bet">
            <div class="pink-num">
              02.
            </div>
            <p class="info-card-text">
              Set up a robust geographical expansion plan backed by rigorous data that has been gathered.
            </p>
          </div>
          <div class="info-card flex-box justify-space-bet">
            <div class="pink-num">
              03.
            </div>
            <p class="info-card-text">
              Help the founders focus on what is important and put our experience in behind the project to iterate more quickly.
            </p>
          </div>
          <div class="info-card flex-box justify-space-bet">
            <div class="pink-num">
              04.
            </div>
            <p class="info-card-text">
              Guide the founders toward interesting funding mechanisms and prioritise investments.
            </p>
          </div>
        </div>
        </div>
    </div>

  </div>
  </div>

  <div class="work-dtail-ss-imgs-section">
    <div class="container">
      <div class="work-dtail-ss-imgs flex-box">
        <div class="mobile-img left-mob-of-3">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="tablet-img mid-tab-of-3">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="mobile-img right-mob-of-3">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
      </div>
    </div>
  </div>

  <div class="rgc-section">
    <div class="container">
      <div class="rgc flex-box justify-space-bet">
        <div class="rgc-title">
          Revenue Generating Campaigns
        </div>
        <div class="rgc-desc">
          Beautiful and on-brand creative that increased retention and sales for one of the largest fashion brands in the world.
        </div>
      </div>
    </div>
  </div>

  <div class="work-detail-lower-img-section">
    <div class="container">
      <div class="work-detail-lower-img">
        <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
      </div>
    </div>
  </div>

  <div class="rgc-imgs-desc-section">
    <div class="container">
      <div class="rgc-imgs-desc flex-box justify-space-bet">
        <div class="rgc-imgs flex-box">
          <div class="mobile-img">
            <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
          </div>
          <div class="mobile-img lower">
            <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
          </div>
        </div>
        <div class="rgc-text">
          <div class="rgc-text-title">
            Revenue Generating Campaigns
          </div>
          <div class="rgc-text-para">
            We’re musicians, artists, entrepreneurs, environmentalists, animal lovers, and foodies. We’re fashionistas and geeks. We’re clean cut and tattooed. We’re Netflix binge watchers and deep thinkers. We’re also very much like you and your customers. We’re people.
            <br><br>
            In a world of screens and devices, we need to remember that these interactions can and should be personal. From our initial conversations to our post-launch support, you’ll always be dealing with people who care about you and your brand.
          </div>
          <a href="#" class="product-link"><span>Launch live website</span> <img src="assets/icons/arrow-blue.svg" alt="right arrow btn" loading="lazy"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="scale-company-title-section">
    <div class="container">
      <h2 class="scale-compnay-title">
        Scaling a company on a  succesfull mission <br>
of changing the cleaning  products industry <br> that drove <span class="rel">20% sales <img class="scribble round-3-scribble" src="{{ '/assets/icons/scribble-round-3.svg' | relative_url }}" alt="scribble" loading="lazy"></span> growth.
      </h2>
    </div>
  </div>

  <div class="work-dtail-ss-imgs-section lower">
    <div class="container">
      <div class="work-dtail-ss-imgs lower flex-box">
        <div class="tablet-img">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="tablet-img lower">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
      </div>
    </div>
  </div>

  <div class="work-detail-testimonial-section">
    <div class="container">
      <div class="work-detail-testimonial flex-box justify-space-bet">
        <div class="work-detail-testimonial-title">
          Working with Dear Digital was the right choice!
        </div>
        <div class="work-detail-testimonial-desc">
          <p class="work-detail-testimonial-para">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="work-detail-testimonial-author-info flex-box">
            <div class="article-author-img">
              <img src="{{ '/assets/imgs/testimonial.jpeg' | relative_url }}" alt="testimonial" loading="lazy">
            </div>
            <div class="article-author-name-date">
              <div class="article-author-name">
                Sam Rieder
              </div>
              <div class="article-date-time flex-box">
                Expert Growth Marketing
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="prev-overview-next flex-box justify-space-bet">
        {% if page.prev %}
        <div class="perv-btn">
          <a href="{{ page.prev | relative_url }}" class="product-link"><img src="{{ '/assets/icons/arrow-blue.svg' | relative_url }}" alt="right arrow btn" loading="lazy"><span>Previous</span> </a>
        </div>
        {% endif %}
        <a href="{{ '/featured-work' | relative_url }}" class="load-more-btn to-blue-btn to-white-text">
          Overview <span class="pink-dot-med"></span>
        </a>
        {% if page.next %}
        <div class="next-btn">
          <a href="{{ page.next | relative_url }}" class="product-link"><span>Next</span> <img src="{{ '/assets/icons/arrow-blue.svg' | relative_url }}" alt="right arrow btn" loading="lazy"></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <section class="lets-work-togather-section">
    <div class="container">
      <div class="work-togather-content">
        <h3 class="work-togather-title">Let’s work <span class="rel">together<span class="blue-dot-medium"></span><img class="scribble white-scribble" src="{{ '/assets/icons/scribble-white.svg' | relative_url }}" alt="scribble" loading="lazy"></span></h3>
        <p class="work-togather-para">
          Tell us your business goals and we’ll see how we can create something amazing together.
        </p>
        <form class="work-togather-form" action="https://formspree.io/f/xzbyydky" method="post">
          <div class="half-inputs justify-space-bet flex-box">
            <div class="half-input">
              <label for="togather-name">What’s your name?</label>
              <input id="togather-name" type="text" name="name" value="" placeholder="Samuel" />
            </div>
            <div class="half-input">
              <label for="togather-email">On what emailaddress can we reach you?</label>
              <input id="togather-email" type="email" name="_replyto" value="" placeholder="Hello@yourdomain.be" />
            </div>
          </div>
          <div class="half-inputs justify-space-bet flex-box">
            <div class="half-input">
              <label for="togather-phone">Or would you rather get a phone call?</label>
              <input id="togather-phone" type="number" name="phone" value="" placeholder="+32 00 000 000" />
            </div>
            <div class="half-input">
              <label for="togather-details">DETAILS ABOUT YOUR PROJECT</label>
              <input id="togather-details" type="text" name="project details" value="" placeholder="Services, scope, timeline, etc…" />
            </div>
          </div>
          <label class="checkbox-container">I’m glad to subscribe to your epic monthly insights
            <input name="subscription" type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <!-- <div class="togather-checkbox-section flex-box">
            <span class="checkbox-outer">
              <span class="checkbox-inner"></span>
            </span>
            <input class="no-disp" type="checkbox" id="togather-checkbox" name="subscribe" value="subscribe">

            <span class="togather-checkbox-text">I’m glad to subscribe to your epic monthly insights</span>
          </div> -->
          <label>
            <input class="no-disp" type="submit" />
            <div class="abs-btn justify-space-bet to-white-btn to-blue-text flex-box">
              <div class="abs-btn-text no-t-m">
                The time has come to push the button <span class="pink-dot-med"></span>
              </div>
              <div class="abs-btn-text no-d">
                Push the button <span class="pink-dot-med"></span>
              </div>
              <div class="abs-btn-arrow">
                <span class="white-arrow">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                          <g class="white" transform="translate(-446.000000, -916.000000)" stroke="#ffffff" stroke-width="2">
                              <g transform="translate(446.000000, 917.000000)">
                                  <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                                  <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                              </g>
                          </g>
                      </g>
                  </svg>
                </span>
              </div>
            </div>
          </label>

        </form>
      </div>
    </div>
  </section>

</div>
