---
layout: default
title: Puzzle in a bag case study page
description: Puzzle in a bag is a digitally native e-commerce first puzzle brand that offers contemporary designs
prev: "/work-detail-crimibox"
next: "/work-detail-kc"
alt: logo
---

<div class="work-detail-page">

  <div class="hero hero-blog-detail">
    <div class="container justify-center flex-box-1">
      <div class="flex-center">
        <div class="small-fonts">
          PIAB
        </div>
        <h1 class="hero-heading">Taking an e-commerce first puzzle brand
        international at effecient CAC
        while building <span class="rel inline-bl">a tight community <img class="scribble long-scribble" src="{{ '/assets/icons/scribble-long.svg' | relative_url }}" alt=""></span>
        <span class="pink-dot-heading"></span>
        </h1>
        <div class="services-hero-text no-t-m">
          Puzzle in a bag is an internal project that we spon out and is now fully backed by outside investors. We are building a strong international community around contemporary puzzles that we sell direct to consumers throughout Europe.
        </div>

        <div class="stroke-fonts flex-box justify-space-bet">
          <div class="stroke new-revenue">
            <div class="stroke-font">
              3
            </div>
            <div class="stroke-desc">
              Shopify stores
            </div>
          </div>
          <div class="stroke">
            <div class="stroke-font">
              5 figure
            </div>
            <div class="stroke-desc">
              MGR
            </div>
          </div>
          <div class="stroke">
            <div class="stroke-font">
              +10K
            </div>
            <div class="stroke-desc">
              Puzzles sold
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="work-detail-img">
    <img src="{{ '/assets/imgs/PIAB-hero.jpg' | relative_url }}" alt="work-detail" loading="lazy">
  </div>

  <div class="container">
    <div class="scs-section">
      <div class="scs-inner-section flex-box justify-space-bet">
        <div class="scs-left">
          <div class="scs-title">
            Services
          </div>
        </div>
        <div class="scs-right">
          <div class="scs-desc services-desc flex-box justify-space-bet">
            <div class="services-desc-left">
              <div class="services-desc-text">
                <img src="{{ '/assets/icons/blue-flag.svg' | relative_url }}" alt="flag" loading="lazy">
                Product development
              </div>
              <div class="services-desc-text">
                <img src="{{ '/assets/icons/blue-flag.svg' | relative_url }}" alt="flag" loading="lazy">
                Web design + Custom Shopify 
              </div>
              <div class="services-desc-text">
                <img src="{{ '/assets/icons/blue-flag.svg' | relative_url }}" alt="flag" loading="lazy">
                E-mail marketing
              </div>
            </div>
            <div class="services-desc-right">
              <div class="services-desc-text">
                <img src="{{ '/assets/icons/blue-flag.svg' | relative_url }}" alt="flag" loading="lazy">
                Performance marketing
              </div>
              <div class="services-desc-text">
                <img src="{{ '/assets/icons/blue-flag.svg' | relative_url }}" alt="flag" loading="lazy">
                Photography
              </div>
            </div>
          </div>
          </div>
      </div>

      <div class="scs-inner-section scs-inner-middle-section flex-box justify-space-bet">
        <div class="scs-left">
          <div class="scs-title challenge-title">
            Challenge
          </div>
        </div>
        <div class="scs-right">
          <div class="scs-desc challenge-desc">
            Puzzle in a bag is an internal project that we launched during the Covid crisis. It was an instant hit. After that initial success we raised funding and spun it out of dear digital and are now building a full fledged e-commerce company from it. This is massively interesting for us to be in the dirt and learn everything the hard way.
            <br><br>
            Now we are crossing our Belgium borders and are building up our marketing efforts in Germany and France for which we have build seperate stores to really focus on these markets and tailor the shops to the local needs.
          </div>
          </div>
      </div>
      <div class="scs-inner-section flex-box justify-space-bet">
        <div class="scs-left">
          <div class="scs-title">
            Solutions
          </div>
        </div>
        <div class="scs-right">
          <div class="scs-desc solutions-desc flex-box justify-space-bet">
            <div class="info-card flex-box justify-space-bet">
              <div class="pink-num">
                01.
              </div>
              <p class="info-card-text">
                Standing out of the crowd by having special designs and a website that reflects that.
              </p>
            </div>
            <div class="info-card flex-box justify-space-bet">
              <div class="pink-num">
                02.
              </div>
              <p class="info-card-text">
                Not holding back on creative expenses to support online brand and growing community.
              </p>
            </div>
            <div class="info-card flex-box justify-space-bet">
              <div class="pink-num">
                03.
              </div>
              <p class="info-card-text">
                Engaging daily with the online community on Instagram and TikTok, asking the crowd for feedback.
              </p>
            </div>
            <div class="info-card flex-box justify-space-bet">
              <div class="pink-num">
                04.
              </div>
              <p class="info-card-text">
                Building up waiting lists and doubling the repurchase rate by 25+ email flows.
              </p>
            </div>
          </div>
          </div>
      </div>

    </div>
  </div>

  <div class="work-dtail-ss-imgs-section">
    <div class="container">
      <div class="work-dtail-ss-imgs flex-box">
        <div class="mobile-img left-mob-of-3">
          <img src="{{ '/assets/imgs/PIAB-red.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="tablet-img mid-tab-of-3">
          <img src="{{ '/assets/imgs/PIAB-blue.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="mobile-img right-mob-of-3">
          <img src="{{ '/assets/imgs/PIAB-pink.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
      </div>
    </div>
  </div>

  <div class="scale-company-title-section">
    <div class="container">
      <h2 class="scale-compnay-title">
        <br><br>
        Scaling a community driven contemporary puzzle brand  <br>
        accross <span class="rel">Europe <img class="scribble round-3-scribble" src="{{ '/assets/icons/scribble-round-3.svg' | relative_url }}" alt="scribble" loading="lazy"></span> quickly generating 5 figure / month revenues.
      </h2>
    </div>
  </div>
<!--
  <div class="work-dtail-ss-imgs-section lower">
    <div class="container">
      <div class="work-dtail-ss-imgs lower flex-box">
        <div class="tablet-img">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
        <div class="tablet-img lower">
          <img src="{{ '/assets/imgs/work-detail.jpg' | relative_url }}" alt="work-detail" loading="lazy">
        </div>
      </div>
    </div>
  </div>
-->
  <div class="work-detail-testimonial-section">
    <div class="container">
      <div class="work-detail-testimonial flex-box justify-space-bet">
        <div class="work-detail-testimonial-title">
          A word from PIABs first employee Amber.
        </div>
        <div class="work-detail-testimonial-desc">
          <p class="work-detail-testimonial-para">
            What can I say! We work together on a daily basis and it's impressive what kind of entrepreneurship Niels and Dimitri have shown by launching and growing PIAB, I'm really glad I'm able to help and learn everyday.
          </p>
          <div class="work-detail-testimonial-author-info flex-box">
            <div class="article-author-img">
              <img src="{{ '/assets/imgs/amberpriemtestimonial.jpg' | relative_url }}" alt="amber priem headshot first employee of puzzle in a bag" loading="lazy">
            </div>
            <div class="article-author-name-date">
              <div class="article-author-name">
                Amber Priem
              </div>
              <div class="article-date-time flex-box">
                Head of growth - PIAB
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="prev-overview-next flex-box justify-space-bet">
        {% if page.prev %}
        <div class="perv-btn">
          <a href="{{ page.prev | relative_url }}" class="product-link"><img src="{{ '/assets/icons/arrow-blue.svg' | relative_url }}" alt="right arrow btn" loading="lazy"><span>Previous</span> </a>
        </div>
        {% endif %}
        <a href="{{ '/featured-work' | relative_url }}" class="load-more-btn to-blue-btn to-white-text">
          Overview <span class="pink-dot-med"></span>
        </a>
        {% if page.next %}
        <div class="next-btn">
          <a href="{{ page.next | relative_url }}" class="product-link"><span>Next</span> <img src="{{ '/assets/icons/arrow-blue.svg' | relative_url }}" alt="right arrow btn" loading="lazy"></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <section class="lets-work-togather-section">
    <div class="container">
      <div class="work-togather-content">
        <h3 class="work-togather-title">Let’s work <span class="rel">together<span class="blue-dot-medium"></span><img class="scribble white-scribble" src="{{ '/assets/icons/scribble-white.svg' | relative_url }}" alt="scribble" loading="lazy"></span></h3>
        <p class="work-togather-para">
          Tell us your business goals and we’ll see how we can create something amazing together.
        </p>
        <form class="work-togather-form" action="https://formspree.io/f/xzbyydky" method="post">
          <div class="half-inputs justify-space-bet flex-box">
            <div class="half-input">
              <label for="togather-name">What’s your name?</label>
              <input id="togather-name" type="text" name="name" value="" placeholder="Samuel" />
            </div>
            <div class="half-input">
              <label for="togather-email">On what emailaddress can we reach you?</label>
              <input id="togather-email" type="email" name="_replyto" value="" placeholder="Hello@yourdomain.be" />
            </div>
          </div>
          <div class="half-inputs justify-space-bet flex-box">
            <div class="half-input">
              <label for="togather-phone">Or would you rather get a phone call?</label>
              <input id="togather-phone" type="number" name="phone" value="" placeholder="+32 00 000 000" />
            </div>
            <div class="half-input">
              <label for="togather-details">DETAILS ABOUT YOUR PROJECT</label>
              <input id="togather-details" type="text" name="project details" value="" placeholder="Services, scope, timeline, etc…" />
            </div>
          </div>
          <label class="checkbox-container">I’m glad to subscribe to your epic monthly insights
            <input name="subscription" type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <!-- <div class="togather-checkbox-section flex-box">
            <span class="checkbox-outer">
              <span class="checkbox-inner"></span>
            </span>
            <input class="no-disp" type="checkbox" id="togather-checkbox" name="subscribe" value="subscribe">

            <span class="togather-checkbox-text">I’m glad to subscribe to your epic monthly insights</span>
          </div> -->
          <label>
            <input class="no-disp" type="submit" />
            <div class="abs-btn justify-space-bet to-white-btn to-blue-text flex-box">
              <div class="abs-btn-text no-t-m">
                The time has come to push the button <span class="pink-dot-med"></span>
              </div>
              <div class="abs-btn-text no-d">
                Push the button <span class="pink-dot-med"></span>
              </div>
              <div class="abs-btn-arrow">
                <span class="white-arrow">
                  <?xml version="1.0" encoding="UTF-8"?>
                  <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                          <g class="white" transform="translate(-446.000000, -916.000000)" stroke="#ffffff" stroke-width="2">
                              <g transform="translate(446.000000, 917.000000)">
                                  <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                                  <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                              </g>
                          </g>
                      </g>
                  </svg>
                </span>
              </div>
            </div>
          </label>

        </form>
      </div>
    </div>
  </section>

</div>
