<footer>
    <div class="footer-wrapper">
      <div class="container">
        <div class="footer-content justify-space-bet flex-box">
          <div class="footer-content-left">
            <div class="footer-logo">
              <a href="{{ '/' | relative_url }}"><img src="assets/icons/footer-logo.svg" alt="Footer Logo" /></a>
            </div>
          </div>
          <div class="footer-content-right">
            <div class="footer-upper-content justify-space-bet flex-box">
              <div class="footer-upper-left justify-space-bet flex-box">

                <div class="footer-links-section">
                  <div class="footer-link-header no-t-m">
                    Dear Digital
                  </div>
                  <div class="footer-links justify-space-bet flex-box">
                    <div class="footer-links-left">
                      <a href="{{ '/services-sales' | relative_url }}">Services</a>
                      <a class="no-t-m footer-mid-link" href="{{ '/services-sales#e-comm-sales' | relative_url }}">Digital marketing</a>
                      <a class="no-t-m" href="{{ '/services-development#e-comm-development' | relative_url }}">Development</a>
                    </div>
                    <div class="footer-links-middle">
                      <a href="{{ '/about-us' | relative_url }}">About</a>
                      <a class="no-t-m footer-mid-link" href="{{ '/about-us' | relative_url }}">Careers</a>
                      <a class="no-t-m" href="{{ '/about-us#team' | relative_url }}">Team</a>
                    </div>
                    <div class="footer-links-right">
                      <a href="{{ '/work' | relative_url }}">Work</a>
                      <a class="footer-mid-link" href="{{ '/blog-articles' | relative_url }}">Blog</a>
                      <a href="{{ '/contact' | relative_url }}">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-upper-right">
                <div class="footer-link-header">
                  Join for monthly insights
                </div>
                <form class="monthly-insights-form" action="index.html" method="post">
                  <input class="common-input no-d" id="footer-email" type="email" name="" value="" placeholder="Emailaddress" />
                  <input class="common-input no-t-m" id="footer-email" type="email" name="" value="" placeholder="Enter your emailaddress" />
                  <div class="footer-white-arrow">
                    <img src="assets/icons/arrow-white.svg" alt="Footer Arrow" />
                  </div>
                </form>
              </div>
            </div>
            <div class="footer-middle-content justify-space-bet flex-box">
              <div class="footer-middle-left justify-space-bet flex-box">
                <div class="address">
                  Vlasgaardstraat 52 - 9000 Ghent
                </div>
                <a href = "mailto: info@deardigital.be" class="emailaddress">
                  info@deardigital.be
                  <div class="pink-border no-d">

                  </div>
                </a>
              </div>
              <div class="footer-middle-right justify-space-bet flex-box">
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-insta.svg" alt="Footer Insta" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-fb.svg" alt="Footer Fb" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="#" class="footer-social-logo-link">
                    <img src="assets/icons/footer-spotify.svg" alt="Footer Spotify" />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-lower-content justify-space-bet flex-box">
              <div class="footer-lower footer-lower-left">
                ©2021 Dear Digital
              </div>
              <a href="{{ '/privacy-policy' | relative_url }}" class="footer-lower footer-lower-middle">
                Privacy Policy
              </a>
              <a href="{{ '/cookies' | relative_url }}" class="footer-lower footer-lower-right">
                Cookies
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>
</footer>

<script src="{{ '/assets/js/jquery.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/slick.js' | relative_url }}" type="text/javascript"></script>
