<footer>
    <div class="footer-wrapper">
      <div class="container">
        <div class="footer-content justify-space-bet flex-box">
          <div class="footer-content-left">
            <div class="footer-logo">
              <a href="{{ '/' | relative_url }}"><img src="assets/icons/footer-logo.svg" alt="Footer Logo" loading="lazy" /></a>
            </div>
          </div>
          <div class="footer-content-right">
            <div class="footer-upper-content justify-space-bet flex-box">
              <div class="footer-upper-left justify-space-bet flex-box">

                <div class="footer-links-section">
                  <div class="footer-link-header no-t-m">
                    dear digital
                  </div>
                  <div class="footer-links justify-space-bet flex-box">
                    <div class="footer-links-left">
                      <span class="footer-bold no-t-m">Services</span>
                      <a class="footer-mid-link" href="{{ '/digital-marketing' | relative_url }}">Digital marketing</a>
                      <a href="{{ '/services-development' | relative_url }}">Development</a>
                    </div>
                    <div class="footer-links-middle">
                      <a class="no-t-m" href="{{ '/featured-work' | relative_url }}">Work</a>
                      <a class="footer-mid-link" href="{{ '/about-dear-digital-team' | relative_url }}">About</a>
                      <a class="no-t-m" href="https://deardigital.homerun.co/" target="_blank">Careers</a>
                    </div>
                    <div class="footer-links-right">
                      <a class="no-d" href="{{ '/featured-work' | relative_url }}">Work</a>
                      <a href="{{ '/blog-podcast' | relative_url }}">Blog</a>
                      <a class="footer-mid-link"  href="{{ '/contact' | relative_url }}">Contact</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-upper-right">
                <div class="footer-link-header">
                  Join for monthly insights
                </div>
                <form class="monthly-insights-form no-d" action="https://formspree.io/f/xjvjjgpw" method="post">
                  <input class="common-input no-d" id="footer-email-mobile" type="email" name="_replyto" value="" placeholder="Emailaddress" required/>
                  <label>
                    <input name="submit" class="no-disp" type="submit" />
                    <div class="footer-white-arrow">
                      <img src="assets/icons/arrow-white.svg" alt="Footer Arrow" loading="lazy" />
                    </div>
                  </label>
                </form>
                <form class="monthly-insights-form no-t-m" action="https://formspree.io/f/xjvjjgpw" method="post">
                  <input class="common-input no-t-m" id="footer-email" type="email" name="_replyto" value="" placeholder="Enter your emailaddress" required/>
                  <label>
                    <input name="submit" class="no-disp" type="submit" />
                    <div class="footer-white-arrow">
                      <img src="assets/icons/arrow-white.svg" alt="Footer Arrow" loading="lazy" />
                    </div>
                  </label>
                </form>
              </div>
            </div>
            <div class="footer-middle-content justify-space-bet flex-box">
              <div class="footer-middle-left justify-space-bet flex-box">
                <div class="address">
                  Rooigemlaan 532 - 9000 Ghent
                </div>
                <a href = "mailto: info@deardigital.be" class="emailaddress">
                  info@deardigital.be
                  <div class="pink-border no-d">

                  </div>
                </a>
              </div>
              <div class="footer-middle-right justify-space-bet flex-box">
                <div class="footer-social-logo">
                  <a href="https://www.instagram.com/deardigital.agency/" class="footer-social-logo-link" target="_blank">
                    <img src="assets/icons/footer-insta.svg" alt="Footer Insta" loading="lazy" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="https://www.linkedin.com/company/dear-digital-agency/" class="footer-social-logo-link" target="_blank">
                    <img src="assets/icons/footer-linkedin.svg" alt="Footer Linkedin" loading="lazy" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="https://www.facebook.com/deardigitalagency/" class="footer-social-logo-link" target="_blank">
                    <img src="assets/icons/footer-fb.svg" alt="Footer Fb" loading="lazy" />
                  </a>
                </div>
                <div class="footer-social-logo">
                  <a href="https://open.spotify.com/show/6EX2mKEyu2Z4B5fOC0mNe8?si=59CGhmLZTEuyaHOYsWNJwA&dl_branch=1" class="footer-social-logo-link" target="_blank">
                    <img src="assets/icons/footer-spotify.svg" alt="Footer Spotify" loading="lazy" />
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-lower-content justify-space-bet flex-box">
              <div class="footer-lower footer-lower-left">
                ©2021 dear digital
              </div>
              <a href="{{ '/privacy-policy' | relative_url }}" class="footer-lower footer-lower-middle">
                Privacy Policy
              </a>
              <a href="{{ '/cookies' | relative_url }}" class="footer-lower footer-lower-right">
                Cookies
              </a>

            </div>
          </div>
        </div>

      </div>
    </div>
</footer>

<script src="{{ '/assets/js/jquery.js' | relative_url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/slick.js' | relative_url }}" type="text/javascript"></script>
