<section class="testimonials-section">
  <h2 class="testimonials-title justify-center flex-box">
    A word from our <br> amazing clients
  </h2>
  <div class="testimonial-blur blur-left">

  </div>
  <div class="testimonial-blur blur-right">

  </div>
  <div class="testimonials">

    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/LoreJanssnes-OHYAZ.jpg" alt="Lore Janssens from OH YAZ testimonial image" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            dear digital has been key in everything that had to do with growing my company. From sparring on supply chain issues, to rolling out scalable marketing to redesigning and implementing a new custom made website.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Lore Janssens
            </div>
            <div class="testimonial-position">
              Founder OH YAZ
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="{{ '/assets/imgs/manushbarvarbrauzz.jpg' | relative_url }}" alt="manush barvar co founder brauzz" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            Launching a brand is never easy, you run into so many different issues. Dear digital was able to help us out with a lot of stuff. It wasn't a smooth ride, but together we made it fun. The dear digital team will do everything in its power to make this a success and that's the most important thing.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Manush Barvar
            </div>
            <div class="testimonial-position">
              Co-founder BRAUZZ.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/MathiasEllegiers-STASHED-ONO.jpg" alt="Mathias Ellegiers from Stashed and ONO drinks" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="{{ '/assets/imgs/nickspanhovekaasconnaisseur.jpg' | relative_url }}" alt="nick spanhove founder and CEO of de kaasconnaisseur" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            dear digital has taken us to the next level. We came to them as a startup with an e-commerce food story, and they helped us transform into a scale-up with international ambitions.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Nick Spanhove
            </div>
            <div class="testimonial-position">
              Founder & CEO
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="{{ '/assets/imgs/amberpriemtestimonial.jpg' | relative_url }}" alt="amber priem headshot first employee of puzzle in a bag" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            What can I say! We work together on a daily basis and it's impressive what kind of entrepreneurship Niels and Dimitri have shown by launching and growing PIAB, I'm really glad I'm able to help and learn everyday.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Amber Priem
            </div>
            <div class="testimonial-position">
              Head of growth - PIAB
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="{{ '/assets/imgs/jimmycowecrimiboxtestimonial.jpg' | relative_url }}" alt="jimmy cowe testimonial on collaboration with dear digital" loading="lazy">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            Crimibox has been working with dear digital for a year now. A fantastic collaboration! They have single-handedly ensured that not only our turnover, but also our profit margin have increased enormously. A must for every e-commerce company!
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Jimmy Cowe
            </div>
            <div class="testimonial-position">
              Chief Murder Officer at Crimibox
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="slide-number">
    <span class="current-slide">1</span>
    <span class="slide-slash">/</span>
    <span class="total-slides no-t-m">3</span>
    <span class="total-slides no-d">3</span>
  </div>
</section>
