<section class="testimonials-section">
  <h2 class="testimonials-title justify-center flex-box">
    A word from our <br> amazing clients
  </h2>
  <div class="testimonial-blur blur-left">

  </div>
  <div class="testimonial-blur blur-right">

  </div>
  <div class="testimonials">

    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/LoreJanssnes-OHYAZ.jpg" alt="Lore Janssens from OH YAZ testimonial image">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            Dear digital has been key in everything that had to do with growing my company. From sparring on supply chain issues, to rolling out scalable marketing to redesigning and implementing a new custom made website.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Lore Janssens
            </div>
            <div class="testimonial-position">
              Founder OH YAZ
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/MathiasEllegiers-STASHED-ONO.jpg" alt="Mathias Ellegiers from Stashed and ONO drinks">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Mathias Ellegiers
            </div>
            <div class="testimonial-position">
              Co-founder of Stashed / Ono Drinks
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="testimonial-slick-part">
      <div class="testimonial flex-box">
        <div class="testimonial-img">
          <img src="assets/imgs/YanKetelers-Stickerpet.jpg" alt="Yan Ketelers from Stickerpet testimonial">
        </div>
        <div class="testimonial-text-writer">
          <p class="testimonial-text">
            We’ve launched two projects with them already. I’m excited to keep working with them. Besides fast and qualitative work they’ve shown to provide valuable input on strategy as well.
          </p>
          <div class="testimonial-writer-position flex-box">
            <div class="testimonial-writer">
              Yan Ketelers
            </div>
            <div class="testimonial-position">
              Co-founder Sticker pet
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="slide-number">
    <span class="current-slide">1</span>
    <span class="slide-slash">/</span>
    <span class="total-slides no-t-m">3</span>
    <span class="total-slides no-d">3</span>
  </div>
</section>
