<section class="lets-work-togather-section">
  <div class="container">
    <div class="work-togather-content">
      <h3 class="work-togather-title">Let’s work <span class="rel dot-text">together<span class="white-dot-medium"></span> <img class="scribble togather-scribble" src="{{ '/assets/icons/scribble-5.svg' | relative_url }}" alt="scribble" loading="lazy"></span></h3>
      <p class="work-togather-para">
        Tell us your business goals and we’ll see how we can create something amazing together.
      </p>
      <form class="work-togather-form" action="https://formspree.io/f/xzbyydky" method="post">
        <div class="half-inputs justify-space-bet flex-box">
          <div class="half-input">
            <label for="togather-name">What’s your name?</label>
            <input id="togather-name" type="text" name="name" value="" placeholder="Samuel" required/>
          </div>
          <div class="half-input">
            <label for="togather-email">On what emailaddress can we reach you?</label>
            <input id="togather-email" type="email" name="_replyto" value="" placeholder="Hello@yourdomain.be" required/>
          </div>
        </div>
        <div class="half-inputs justify-space-bet flex-box">
          <div class="half-input">
            <label for="togather-phone">Or would you rather get a phone call?</label>
            <input id="togather-phone" type="number" name="phone" value="" placeholder="+32 00 000 000" />
          </div>
          <div class="half-input">
            <label for="togather-details">DETAILS ABOUT YOUR PROJECT</label>
            <input id="togather-details" type="text" name="project_details" value="" placeholder="Services, scope, timeline, etc…" />
          </div>
        </div>
        <label class="checkbox-container">I’m glad to subscribe to your epic monthly insights
          <input name="subscription" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <!-- <div class="togather-checkbox-section flex-box">
          <span class="checkbox-outer">
            <span class="checkbox-inner"></span>
          </span>
          <input class="no-disp" type="checkbox" id="togather-checkbox" name="subscribe" value="subscribe">

          <span class="togather-checkbox-text">I’m glad to subscribe to your epic monthly insights</span>
        </div> -->
        <label>
          <input name="submit" class="no-disp" type="submit" />
          <div class="abs-btn justify-space-bet to-white-btn to-blue-text flex-box">
            <div class="abs-btn-text no-t-m">
              The time has come to push the button <span class="pink-dot-med"></span>
            </div>
            <div class="abs-btn-text no-d">
              Push the button <span class="pink-dot-med"></span>
            </div>
            <div class="abs-btn-arrow">
              <span class="white-arrow">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="25px" height="18px" viewBox="0 0 25 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>E32E55EC-C325-44C7-979D-2FC7D2BB9A67</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                        <g class="white" transform="translate(-446.000000, -916.000000)" stroke="#ffffff" stroke-width="2">
                            <g transform="translate(446.000000, 917.000000)">
                                <line x1="0" y1="8" x2="24" y2="8" id="Path"></line>
                                <polyline id="Path" points="16 0 24 8 16 16"></polyline>
                            </g>
                        </g>
                    </g>
                </svg>
              </span>
            </div>
          </div>
        </label>

      </form>
    </div>
  </div>
</section>
